.contactPage {
    .contactPage__body {
        display: flex;
        margin: 80px 50px;
        .contactPage__image {
            height: 100%;
            margin: 0 20px;
            img {
                margin: auto;
                padding: 20px;
                border-radius: 4px;
            }
        }
        .contactPage__description {
            height: 100%;
            box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.4);
            border-radius: 4px;
            margin: 0 20px;
            padding: 20px;
            p {
                font-size: 1.2rem;
            }
            h1 {
                font-size: 2.2rem;
            }
            small {
                font-size: 0.8rem;
                color: #43c7ff;
            }
        }
    }
    .contactPage__header {
        background-image: url('../../img/banner-bg.png');
        height: 270px;
        box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.5);
        h1 {
            padding: 0;
            margin: 0;
            text-align: center;
            color: #fff;
            text-decoration: underline;
            align-items: center;
            line-height: 300px;
            font-size: 35px;
        }
    }
}

@media only screen and(max-width: 1100px){
        .contactPage__image{
            img {
                display: none;
            }
        }
    }