@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(./fonts/Poppins/Poppins-Regular.ttf) format('embedded-opentype'),
  url(./fonts/Poppins/Poppins-Regular.ttf) format('woff2'),
  url(./fonts/Poppins/Poppins-Regular.ttf) format('woff'),
  url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype'),
  url(./fonts/Poppins/Poppins-Regular.ttf) format('svg');
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: 'Poppins', sans-serif;
}
